.contact-page-header {
    max-width: 70vw;
    margin: 5em auto 0 auto;
    display: flex;
    justify-content: flex-start;
    
    p {
        font-size: 4em;
        width: 10em;
        font-family: "Noto Serif SC";
        letter-spacing: -3px;
        line-height: 1.1;
    }
    margin-bottom: 15vh;
}

.contact-wrapper {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4em;

    .left {
        margin-right: 10vw;
        form {
            display: flex;
            flex-direction: column;
            #new-business {
                font-size: 2em;
                margin-bottom: 1em;
                width: 15em;
            }

            input {
                width: 100%;
                height: 3em;
                margin-bottom: 3.5em;
                border: none;
                border-bottom: 1px solid #000;
                color: #000;

                &:hover, &:hover, &:focus  {
                    outline: none;
                }
            }

            textarea {
                height: 12em;
                resize: none;
                padding: 1em;
            }

            button {
                width: 7em;
                height: 3em;
                margin: 2em auto 0 auto;
                background-color: rgb(34, 34, 34);
                border: none;
                color: #fff;
            }
        }
    }

    .right {
        align-self: center;
        .contact-options {
            font-size: 1.1em;
            line-height: 1.5;
            #contact-email {
                font-weight: 900;
                font-size: 1.5em;
                margin-bottom: 0.5em;
            }

            .contact-contact {
                font-weight: 900;
                display: flex;
                flex-direction: column;
                // text-align: center;
                span {
                    font-weight: 100;
                }
            }
        }

        .socials {
            margin-top: 3em;

            #get-connected {
                font-size: 1.5em;
                font-weight: 900;
                margin-bottom: 0.5em;
            }

            p {
                font-size: 1.1em;
                line-height: 1.5;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .contact-page-header  {
        max-width: 90vw;
    }
    .contact-wrapper {
        max-width: 90vw;

        .left {
            margin-right: 5vw;
        }
    }
}

@media screen and (max-width: 930px) {
    .contact-page-header  {
        max-width: 90vw;

        p {
            font-size: 3em;
        }
        margin-bottom: 5em;
    }

    .contact-wrapper {
        .left {
            form {
                #new-business {
                    max-width: 40vw;
                }
            }
        }

        .right {
            width: 90vw;
            text-align: left;
        }
    }
}

@media screen and (max-width: 839px) {
    .contact-page-header {
        justify-content: center;
        p {
            font-size: 2.5em;
            line-height: 1.2;
            text-align: center;
        }
    }
    .contact-wrapper {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        .left {
            margin-right: 0;
            form {
                #new-business {
                    max-width: 100vw;
                    text-align: center;
                }
                margin-bottom: 3em;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .contact-page-header {
        margin-top: 3em;
        p {
            font-size: 2em;
            letter-spacing: 0px;
        }
    }

    .contact-wrapper {
        max-width: 70vw;
        .left {
            form {
                input {
                    max-width: 90vw;
                }
                
                textarea {
                    width: 90vw;
                    margin: 0 auto;
                }
            }
        }
    }
}