.contact-form-wrapper {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    height: 60vh;

    h1 {
        border-bottom: 2px solid #000;
        width: 10em;
        margin: 0 auto 0.8em auto;
        padding-bottom: 0.5em;
    }

    form {
        width: 35em;
        height: 20em;
        margin: 0 auto;
        // border: 2px solid rgb(34, 34, 34);
        // box-shadow: -10px -10px orange;

        .contact-top {
            // display: flex;
            // justify-content: center;

            input { 
                // flex: 1;
                width: 95%;
                margin: 0.5em 0;
                height: 3.5em;
                padding-left: 1em;
            }
        }

        textarea {
            width: 95%;
            height: 11em;
            resize: none;
            padding: 1em;
            line-height: 1.5;
            margin-top: 0.5em;
        }

        button {
            margin-top: 1em;
            background: rgb(34, 34, 34);
            border: none;
            color: #fff;
            height: 2.5em;
            width: 6em;
        }
    }
}