.nav-wrapper {
   nav {
      .title {
         p {
            font-size: 2em;
            margin-left: 2em;
            color: rgb(77, 77, 77);
         }
      }
   }
}

.influencer {
   .section-a {
      display: flex;
      max-width: 70vw;
      margin: 0 auto;
      margin-top: 3em;

      .section-a-text {
         margin: 2vw;

         #headline-a {
            font-size: 2.5em;
            text-decoration: underline;
            text-decoration-color: #eee7ca;
         }

         p {
            margin-top: 1em;
            line-height: 1.5;
         }
      }
      img {
         width: 25vw;
         align-self: center;
         box-shadow: 15px 15px #eee7ca;
         margin-right: 2vw;
      }
   }

   .section-b {
      padding: 2em 0;
      margin-top: 7em;
    //   background: #eee7ca;
      
      .section-b-content {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0 auto;

         .section-b-text {
            margin-right: 4vw;
            text-align: right;

            h1 {
               font-size: 2.5em;
               text-decoration: underline;
               text-decoration-color: rgb(135, 255, 209);
               margin-bottom: 0.2em;
            }

            ul {
               margin-right: 2.5vw;
               li {
                  font-size: 1em;
                  line-height: 1.7;
                  font-weight: 400;
                  text-align: right;
               }
            }
         }

         img {
            width: 40vw;
            align-self: center;
            box-shadow: -15px -15px rgb(255, 135, 135);
         }
      }
   }

   .section-c {
       margin-top: 7em;
       
       .section-c-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        img {
            width: 30vw;
            align-self: center;
            box-shadow: 15px -15px #F5CB44;
        }

        .section-c-text {
            margin-left: 4vw;

            h1 {
                font-size: 2.5em;
                text-decoration: underline;
                text-decoration-color: #ff4a47;
                margin-bottom: 0.2em;
             }

             ul {
                margin-left: 2.5vw;
                li {
                   font-size: 1em;
                   line-height: 1.7;
                   font-weight: 400;
                }
             }
        }
       }
   }

   .section-d {
       margin-top: 7em;
       text-align: center;
       background: rgb(34, 34, 34);
       padding: 3em 0;

       .content-wrapper {
           max-width: 50em;
           margin: 0 auto;
           color: #fff;

           h1 {
               margin-bottom: 1em;
                // font-size: 1em;
           }

           p {
               font-size: 1em;
               line-height: 2;
               font-weight: 100;
               font-family: "Noto Serif SC";
           }
       }

       svg {
           color: pink;
           font-size: 1.5em;
           margin-top: 1em;
       }

       #contact {
        color: #fff;
        margin-top: 1em;
        text-decoration: underline;

        &:hover {
            font-style: oblique;
            cursor: pointer;
            color: pink;
        }
    }
   }
}

////// Breakpoints
////// Breakpoints
////// Breakpoints
////// Breakpoints
////// Breakpoints
////// Breakpoints

@media screen and (max-width: 1100px) {
   .influencer {
      .section-a {
         display: flex;
         max-width: 80vw;
         margin-top: 3em;

         .section-a-text {
            margin: 0;
            margin-left: 3vw;
            #headline-a {
               font-size: 2em;
            }
         }
      }

      .section-b {
         .section-b-content {
            .section-b-text {
               h1 {
                  font-size: 2em;
                  max-width: 10em;
               }
            }
         }
      }

      .section-d {
        .content-wrapper {
            max-width: 60vw;
            p {
                font-size: 1.1em;
                line-height: 2;
            }
        }
    }
   }
}

@media screen and (max-width: 700px) {
   .nav-wrapper {
      nav {
         .title {
            p {
               font-size: 1.4em;
               margin-left: 1em;
            }
         }
      }
   }

   .influencer {
      .section-a {
         max-width: 90vw;
         margin-top: 3em;
         flex-direction: column-reverse;

         .section-a-text {
            #headline-a {
               font-size: 2em;
            }
         }

         img {
            width: 70vw;
            margin-top: 3em;
         }
      }

      .section-b {
         .section-b-content {
            flex-direction: column;
            .section-b-text {
               margin-right: 0;
               h1 {
                  font-size: 2.5em;
                  max-width: 100vw;
                  text-align: center;
               }

               ul {
                  direction: ltr;
                  max-width: 80vw;
                  margin: 0 auto;
                  margin-top: 1.2em;

                  li {
                     text-align: left;
                  }
               }
            }
            img {
               margin-top: 2em;
               width: 85vw;
               align-self: center;
            }
         }
      }

      .section-c {
          .section-c-content {
              flex-direction: column-reverse;

              img {
                  width: 85vw;
                  margin-top: 3em;
              }
          }
      }

      .section-d {
        .content-wrapper {
            max-width: 90vw;
            p {
                font-size: 1em;
                line-height: 1.8;
            }
        }
    }
   }
}

@media screen and (min-width: 1200px) {
   .influencer {
      .section-a {
         width: 70vw;
         max-width: 80em;
         img {
            width: 25vw;
            max-width: 25em;
         }
      }

      .section-b {
         width: 70vw;
         max-width: 80em;
         padding: 2em 0;
         margin: 4em auto 0 auto;
         
         .section-b-content {
            img {
               width: 35vw;
               max-width: 35em;
            }
         }
      }
   }
}
