.creators {
   margin-bottom: 50vh;
   max-width: 95vw;
   margin: 0 auto;
   text-align: center;
   #creators-header {
      text-align: center;
      p {
         font-size: 2em;
      }
   }

   .creators-pics {
      margin-top: 2em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .creator-node {
         width: 30%;
         margin: 1vw;
         position: relative;
         display: flex;
         justify-content: center;

         &:hover {
            cursor: pointer;

            img {
                opacity: 0.4;
            }

            .node-text {
                display: block;
            }
         }

         img {
            width: 100%;
            align-self: center;
         }

         .node-text {
             position: absolute;
             top: 50%;
             display: none;
             line-height: 1.4;

             #name {
                 font-size: 2vw;
                 font-weight: 100;
                 border-bottom: 2px solid #000;
             }

             #project {
                 font-weight: 700;
                 padding-top: 0.3em;
             }
         }
      }
   }
}

@media screen and (max-width: 600px) {
   .creators {
      max-width: 98vw;

      #creators-header {
        text-align: center;
        p {
           font-size: 5vw;
        }
     }
      .creators-pics {
         .creator-node {
             width: 45vw;

             .node-text {
                 #name {
                     font-size: 5vw;
                 }
             }
         }
      }
   }
}


@media screen and (min-width: 1200px) {
   .creators {
      max-width: 80em;
   }
} 