.creators {
    margin-bottom: 50vh;
    max-width: 95vw;
    margin: 0 auto;
    #creators-header {
        text-align: center;
        p {
            font-size: 2em;
        }
    }

    .creators-pics {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 25vw;
            margin: 1vw
        }
    }
}