.nav-wrapper {
   nav {
      .title {
         p {
            font-size: 2em;
            margin-left: 2em;
            color: rgb(77, 77, 77);
         }
      }
   }
}

.influencer {
   margin-bottom: 3em;
   .section-a {
      display: flex;
      max-width: 70vw;
      margin: 0 auto;
      margin-top: 3em;

      .section-a-text {
         margin: 2vw;

         #headline-a {
            font-size: 2.5em;
            text-decoration: underline;
            text-decoration-color: #eee7ca;
         }

         p {
            margin-top: 1em;
            line-height: 1.5;
         }
      }
      img {
         width: 25vw;
         align-self: center;
         box-shadow: 15px 15px #eee7ca;
         margin-right: 2vw;
      }
   }

   .section-b {
    padding: 1em 0;
      margin-top: 7em;
    //   background-color:#eee7ca;


      .section-b-content {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0 auto;

        .section-b-text {   
            margin-right: 4vw;
            text-align: right;

            h1 {
                font-size: 2.5em;
                text-decoration: underline;
                text-decoration-color: rgb(135, 255, 209);;
                margin-bottom: 0.2em;
            }

            ul {
                margin-right: 2.5vw;
                li {
                   font-size: 1em;
                   line-height: 1.7;
                   font-weight: 400;
                   text-align: right;
                }
             }
        }

         img {
            width: 40vw;
            align-self: center;
            box-shadow: -15px -15px rgb(255, 135, 135);
         }
      }
   }
}

////// Breakpoints
////// Breakpoints
////// Breakpoints
////// Breakpoints
////// Breakpoints
////// Breakpoints

@media screen and (max-width: 1100px) {
   .influencer {
      .section-a {
         display: flex;
         max-width: 80vw;
         margin-top: 3em;

         .section-a-text {
            margin: 0;
            margin-left: 3vw;
            #headline-a {
               font-size: 2em;
            }
         }
      }

      .section-b {
        .section-b-content {
            .section-b-text {
                h1 {
                    font-size: 2em;
                    max-width: 10em;
                }
            }
        }
      }
   }
}

@media screen and (max-width: 700px) {
   .nav-wrapper {
      nav {
         .title {
            p {
               font-size: 1.4em;
               margin-left: 1em;
            }
         }
      }
   }

   .influencer {
      .section-a {
         max-width: 90vw;
         margin-top: 3em;
         flex-direction: column-reverse;

         .section-a-text {
            #headline-a {
               font-size: 2em;
            }
         }

         img {
            width: 70vw;
            margin-top: 3em;
         }
      }

      .section-b {
          padding: 0;
        .section-b-content {
            flex-direction: column;
            .section-b-text {
                margin-right: 0;
                h1 {
                    font-size: 2.5em;
                    max-width: 100vw;
                    text-align: center;
                }

                ul {
                    direction: ltr;
                    max-width: 80vw;
                    margin: 0 auto;
                    margin-top: 1.2em;

                    li {
                    text-align: left;
                    }
                }
            }
            img {
                margin-top: 2em;
                width: 85vw;
                align-self: center;
             }
        }
      }
   }
}
