.insta-feed {
    margin-bottom: 10em;
    text-align: center;
    margin-top: 8em;

    p {
        margin-bottom: 1em;
        font-weight: 300;

        & span {
            font-family: "Noto Sans SC";
            color: rgb(122, 122, 122);
            font-size: 1.2em;
            font-weight: 400;

            &:hover {
                color: rgb(82, 82, 82);
                cursor: pointer;
                font-style: oblique;
            }
        }
    }
}