.insta-feed {
    margin-bottom: 40vh;
    text-align: center;
    margin-top: 8em;

    p {
        font-size: 2em;
        // font-family: "Noto Sans SC";
        margin-bottom: 1em;
        font-weight: 500;

        & span {
            font-family: "Noto Sans SC";
            font-size: 0.7em;
            color: rgb(122, 122, 122);

            &:hover {
                color: rgb(82, 82, 82);
                cursor: pointer;
                font-style: oblique;
            }
        }
    }
}