.sub-hero {
    text-align: center;
    overflow-x: hidden;
    margin: 0;
    background: red;
    width: 90vw;
    margin: 0 auto;
    min-width: 60px;

    .sub-hero-img-wrapper {
        img {
            width: 3em;
            display: none;
        }
    }
}