.welcome {

    .background {
        background-image: url("../../assets/images/welcome-tmancy.png");
        opacity: 0.3;
        background-size: contain;
        background-position: center;
        background-repeat: repeat-x;
        height: 10vh;
        margin-top: 1.5em;
    }

    
    text-align: center;

    #our-work {
        margin-top: 4em;
        margin-bottom: 1em;
        font-weight: 300;
    }

    #our-work-detail {
        font-size: 1.2em;
        line-height: 1.2;
    }
}