@import "./variables";
@import "./nav";
@import "./hero";
@import "./welcome";
@import "./two-photos";
@import "./clients";
@import "./insta-feed";
@import "./creators";
@import "./contact";
@import "./modal";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Noto+Serif+SC:wght@200;400;500&display=swap');

*,
body {
   font-family: $main-font;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   overflow-x: hidden;
}

// body {
//     font-family: apple
// }
