@import "./variables";
@import "./nav";
@import "./hero";
@import "./sub_hero";
@import "./modal";

*,  body {
    font-family: $main-font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// body {
//     font-family: apple
// }