@import "./variables";
@import "./nav";
@import "./hero";
@import "./welcome";
@import "./two-photos";
@import "./clients";
@import "./insta-feed";
@import "./modal";

*,
body {
   font-family: $main-font;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   overflow-x: hidden;
}

// body {
//     font-family: apple
// }
